# Python - Cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# macOS - System files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Data and Pickles
data/
*.pickle
!**/tests/*.pickle
